  <header>
  <nav>
    <ul>
    <li class="left-button">
  <%= link_to "オンラインマルシェ", root_path, class: "nav-link" %></li>  
 <li>ようこそ<%= link_to current_user.name, user_path(current_user), class: "nav-link" %>さま</li>
 <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "action-button" %></li>
  <li><%= link_to '商品出品', new_item_path, class: "action-button" %></li>
  <li><%= link_to '商品一覧', items_item_list_path, class: "action-button" %></li>  
    </ul>              
  </nav>
</header>

<p>メールアドレス: <%= @user.email %></p>

<% if @user.profile_image.attached? %>
  <%= image_tag @user.profile_image, class: "item-img" %>
<% else %>
  <p>No profile image available</p>
<% end %>

<%= link_to 'ユーザー情報を修正する', edit_user_registration_path %>
<%= link_to 'もどる', root_path, class: "back-btn" %>
