<h1>ユーザー詳細ページ</h1>

<p>ユーザー名: <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>

 <%= image_tag @user.profile_image, class: "item-img" %>
<%= link_to 'ユーザー情報を修正する', edit_user_registration_path %>
 <%=link_to 'もどる', root_path, class:"back-btn" %>