<% @items.each do |item| %>
  <li>
    <h2><%= item.item_name %></h2>
    
     <%= image_tag @item.image ,class: "item-box-img" %>
    <p><%= item.info %></p>
    <p>価格: ¥<%= item.price %></p>
    <th class="detail-item">発送元の地域</th>
    <td class="detail-value"><%= Prefecture.find_by(id: item.prefecture_id)&.prefecture %></td>

  </li>
<% end %>
