<header>
  <nav>
    <ul>
      <%= link_to "オンラインマルシェ", root_path, class: "nav-link" %></li>
    <% if user_signed_in? %>
      <li>ようこそ<%= link_to current_user.name, "#", class: "nav-link" %>さま<li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "action-button" %></li>
     <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "action-button" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "action-button" %></li>
     <% end %>
    
     <li><%= link_to '商品出品', new_item_path, class: "action-button" %></li>
    </ul>              
  </nav>
</header>


<% @items.each do |item| %>
  <li class="list">
    <%= link_to item_path(item) do %>
     <h2 class="item-title"><%= item.item_name %></h2> 
      <div class="item-img-content">

        <%= image_tag item.image, class: "item-img" %>
      
        <p class="item-info">説明：<%= item.info %></p>
        <%# <div class="item-details"> %>
          <div class="detail-value">発送元の地域:<%= Prefecture.find_by(id: item.prefecture_id)&.prefecture %></div>
        <%# </div> %>
        <p class="item-price">価格: <%= item.price %>円</p>
        
      </div>
    <% end %>
  </li>
<% end %>



 